
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
  
        font-family: "Lucida Console", "Brush Script MT", serif;
        font-weight: bold;
     
  
    min-height: 100vh; 
}
.videos{
    z-index: 0px;
}
.header_about_us{
    background-image: url('images/about_us.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.header_contents{
    color: rgb(50, 50, 50);
    display: grid;
    gap: 10px;
    padding: 100px 0 140px 40px;
}
.header_contents *{
    font-weight: bold;
    font-size: larger;
}
.header_contents h1{
    font-size: 3rem;
}

/*Main */
.main_page{
    margin-top: -50px;
    min-width: 800px;
    
}
.table_of_contents__contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-bottom: 60px;
    text-decoration: dashed !important;
    
}
.table_of_contents{
    background-color: white;
    min-width: 600px;
    margin: 80px 0 0 80px;
    box-shadow: 1px 2px 10px 5px white;
    padding: 20px;
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-items: items; */
    line-height: 1.5em;
}
.define_motherbets{
    background-color: white;
    min-width: 800px;
    margin: 80px 80px;
    
    box-shadow: 1px 2px 10px 5px white;
    padding: 80px;
    line-height: 1.5em;
}
.define_motherbets__About{
    line-height: 1.5em;
}
.motivation__Motivation{
    line-height: 1.5em;
}
.Mission__mission{
    line-height: 1.5em;
}

.motivation{
    min-width: 800px;
    margin: 80px 80px;;
    
    box-shadow: 1px 2px 10px 5px white;
    padding: 20px;
    line-height: 1.5em;
    background-color: white;
}
.Mission{
    background-color: white;
    min-width: 800px;
    margin: 80px 80px;
    
    box-shadow: 1px 2px 10px 5px white;
    padding: 20px;
    line-height: 1.5em;
}
.motivation__Motivation{
    background-color: white;
    margin: 20px;
    margin-left: 40px ;

}
.Mission__mission{
    background-color: white;
    margin: 20px;
    margin-left: 40px;
}
.Video{
    /* position: relative; */
    min-width: 800px;
    background-color: white;
    margin: 80px 80px;
    
    box-shadow: 1px 2px 10px 5px white;
    padding: 20px;
    max-height: 750px;
    line-height: 1.5em;
}
.Audio{
    background-color: white;
    min-width: 800px;
    margin: 80px 80px;
    
    box-shadow: 1px 2px 10px 5px white;
    padding: 20px;
    line-height: 1.5em;
}
.__About{
    margin: 20px;
    margin-left: 40px;
    
}
.Video__video{
    /* position: absolute; */
    width: 100%;
    max-width: 800px;
    max-height: 700px;

}
.Audio__audio{
    width: 100%;
    margin:5% auto;
    max-width: 800px;
}

/* Footer */

.footer{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    min-width: 950px;
    min-height: 100px;
    margin-top: 100px;
    background-color: black;
    color: white;
    width: 100%;
}
.footer__social__medias__medias{
    display: flex;
    margin-left: 50px;
}
.footer__social__medias__medias .footer__social__medias__img{
   margin: 10px;
}
.footer__social_medias__inline-na{
   margin-top: 10px;
}
.footer__social_medias{
    padding: 10px;
    display: flex;
    color: white;
    font-size: 30px;
}
.footer__QandA{
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.table_of_contents__contents__content{
    margin-top: 20px;
    
}

.form + input{
    min-width: 500px;
}
@media (max-width:850px) {
    .main_page{
        margin-left: 0px;
       
        font-size:1.4em;
    
    }
    .the_articles{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-width: 850px;
    }    
}
