
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
  
        font-family: "Lucida Console", "Brush Script MT", serif;
        font-weight: bold;
     
  
    min-height: 100vh; 
}
.videos{
    z-index: 0px;
}
/* Header */
.header{
    min-height: 140px;
    background-color: white;
    background-image: linear-gradient(90deg,rgba(255,0,0,0) 0%,rgba(255,0,0,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0px;
    opacity: 1;
    z-index: 100px;
    background-size: cover;
    min-width: 950px;
    
}
.header:hover{
    background-color: yellow;
    transition: all 2s;
}
.header__comps{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    text-align: center;
}
.header__comps__search_bar{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-top: 1.5em;
}
.header__comps__navs_container{
    grid-row: 2 / 3;
    grid-column: 2 / 3;

}
.navbr__navs{
    margin-top: 20px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    
}
.header__comps__brand{
    max-width: 150px;
    height: 100px;
    grid-row: 1/4;
    margin-top: 0.6em;
    margin-left: 4%;
}
.navbr__navs__hover_changed{
    position: relative;
}
.hover__changed__sub_nav{
    display: none;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(255,255,0,0.4) 0%, rgba(255, 0, 0, 0.7));
    top:19px;
    min-width: 180px;
    padding:20px 0px;
}
.hover__changed__sub_nav__sub_:hover{
    background-color: rgba(80, 80, 80, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbr__navs__navs_individuals{
    
    margin: 0 25px;
    text-transform: uppercase;
    max-height: 20px;
    color: black;
    font-weight: bold;
}
.hover__changed__sub_nav__sub___anchor{
    color: black;
}
.navbr__navs__navs_individuals > .hover__changed__sub_nav__sub___anchor:hover,
 .navbr__navs__navs_individuals > .hover__changed__sub_nav__sub_, 
         .navbr__navs__hover_changed > .navbr__navs__navs_individuals__span:hover{
    background-color: rgba(80, 80, 80, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.navbr__navs__hover_changed:hover .hover__changed__sub_nav{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.header__comps__search_bar__search_form{
    text-align: center;
    background-color: orange; 
    border-radius: 29px; 
    border: 1px solid #081F2D; 
    color: orange; 
    font-size: 15px; 
    padding: 5px 20px; 
    cursor: pointer; 
    transition: 0.3s;
    min-width: 300px;
    max-width: 400px;
}
.header__comps__search_bar__submit_btn{
    background-color: rgb(0, 0, 128); 
    border-radius: 29px; 
    border: 1px solid #081F2D; 
    color: orange; 
    font-size: 15px; 
    padding: 5px 20px; 
    cursor: pointer; 
    transition: 0.3s;
    margin-left: 30px; 
    }
    
.header__comps__search_bar__submit_btn:hover{ 
    transition: 0.3s; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
.header__comps__navs_container__toggle_button{
    display: none;
    position: absolute;
    top: 50px;
    right: 100px;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
}.header__comps__navs_container__toggle_button .bar{
    height: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/* Main */
._icon{
    height: 30px;
    width: 30px;
    background-color: white;
    /* margin-top: 300px; */
    box-shadow:  2px 2px 2px 2px #888888;
}
.kitchen_name > a{
    color: black;
}

.Kitchen_areas{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}
.main_page{
    background-image: linear-gradient(180deg,#bababa 0%,  #5f5f5f 100%);
}

/* .icon_0{
    margin-left: 20px;
}
.icon_1{
    margin-right: 200px;
} */
.selector{
    max-width: 200px;
    height: 34px;
    font-size: 25px;
    background-image: linear-gradient(180deg, rgba(255,255,0,0.4) 0%, rgba(255, 0, 0, 0.7));
    color: black;
}
.pointers{
    background-image: linear-gradient(180deg, rgba(240,240,240) 0%, rgba(255,255,2550.9));
}
.Motherbets_data{
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  
}
main{
    min-width: 950px;
}
.Kitchen_{
    display: none;
}
/* .Kitchen{
    margin: 40px;
} */

.kitchen_name{
    text-align: center;
    margin-bottom: 20px;
}

.rating{
    padding: 0px;
    float: left;
}
.image_hotel{
    border-radius: 20px;
    box-shadow: 5px 10px 10px 10px #888888;
    margin-bottom: 20px;
    min-width: 450px;
    min-height: 450px;
}
@media(max-width:1525){
    .icon_1{
        display: none;
    }
}
@media(max-width:1462px){
    .Kitchen_4{
        display: block;
        margin: 40px;
    }
}

/* Footer */
.footer{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    min-width: 950px;
    min-height: 100px;
    margin-top: 100px;
    background-color: black;
    color: white;
    width: 100%;
}
.footer__social__medias__medias{
    display: flex;
    margin-left: 50px;
}
.footer__social__medias__medias .footer__social__medias__img{
   margin: 10px;
}
.footer__social_medias__inline-na{
   margin-top: 10px;
}
.footer__social_medias{
    padding: 10px;
    display: flex;
    color: white;
    font-size: 30px;
}
.footer__QandA{
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

    

@media (max-width: 1000px){
    .header__comps__navs_container__toggle_button{
        margin-left: 100px;
        margin-top: 30px;
        display: flex;
        background-color: inherit;
    }
    .navbr{
        display: none;
        width: 100%;
    }
    .navbr__navs{
        flex-direction: column;
        width: 100%;
    }
    .navbr__navs .navbr__navs__navs_individuals{
       text-align: left;
    }
    .navbr.active{
        display: flex;
    }
    .navbr__navs__navs_individuals{
        padding: 20px;
    }
    .header__comps__search_bar__search_form{
        min-height: 30px;
        font-size: larger;
        margin-left: -70px;
        min-width: 500px;

    
    }
    .header{
        min-height: 160px;
    }
    .navbr__navs__navs_individuals, 
    .hover__changed__sub_nav__sub_ > .hover__changed__sub_nav__sub___anchor , 
    .navbr__navs__hover_changed{
        font-size: 30px;
        color: black;
       margin-bottom: 10px;
    }
    .Motherbets_data > li{
        max-width: 600px;
        margin-left: 30%;
    }

    .content_1{
        font-size: 50px;
    }
    .under_header{
        font-size: 70px;
    }
    ._icon{
        display: none;
    }
    .Motherbets_data{
        display: block;
    }
    .all_foods{
        display: block;
    }
    ._icon{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer_page{
        margin-bottom:0px;
    }
    .main_content_1{
        flex-direction: column;
        justify-content: space-between;
        max-width: 600px;
        margin: 40px auto;
        margin-top: 0px;
        border-collapse: collapse;
    }
    .Kitchen_{
        display: block;
        margin: 40px;
    }
    .content_1{
        margin: 100px auto;
        font-size: 24px;
    }
}
